@import './main'

::-webkit-scrollbar 
	width: 0px

::-webkit-scrollbar-track 
	background: rgba(255,255,255,0)

::-webkit-scrollbar-thumb 
	background: rgba(255,255,255,0)

::-webkit-scrollbar-thumb:hover 
	background: rgba(255,255,255,0)

// input[type=time]::-webkit-datetime-edit-ampm-field 
//    display: none
 
// input[type=time]::-webkit-clear-button 
//    -webkit-appearance: none
//    -moz-appearance: none
//    -o-appearance: none
//    -ms-appearance:none
//    appearance: none
//    margin: -10px 

*
	margin: 0
	padding: 0
	box-sizing: border-box

body
	font-family: 'Open Sans', sans-serif
	color: $black
	background: $black
	font-weight: 300

ul
	padding-left: 0
	
	li
		list-style: none

.smartphone
	width: 375px
	height: 812px
	max-height: 98vh
	margin: 1vh auto
	background: $gray-50
	border-radius: 1rem
	overflow-y: auto
	padding-bottom: 2rem

	@media (max-width: 546px)
		width: 100%

.swal2-styled.swal2-confirm
	background-color: #FF1C3D !important

	&:focus
		outline-style: none !important
		box-shadow: none !important

.swal2-popup 
	max-width: 21rem !important

a
	text-decoration: none
	color: inherit

	&:hover,
	&:focus,
	&:active
		text-decoration: none

// only time
.rc-time-picker,
.rc-time-picker-input
	width: 100% !important