@import '../../assets/sass/main'

.order
	padding: 1rem

	.formGroup
		display: block
		width: 100%
		margin-bottom: 0.8rem

		label
			display: block
			font-size: 0.9rem
			margin-bottom: 0.2rem
			color: #0009

		input,
		select,
		textarea
			display: block
			height: 2rem
			width: 100%
			padding: 0.1rem 0.7rem 0 0.7rem
			border: 1px solid #0004
			border-radius: 0.2rem
			transition: all 0.3s ease-in-out

			&:focus
				border-color: #0006
				outline-style: none

		select
			padding-left: 0.3rem
			padding-top: 0

	.title
		color: $primary
		margin: 1rem 0 0.5rem 0

	.warning
		width: 100%
		display: block
		border-radius: 0.5rem
		padding: 1rem
		background: $white
		box-shadow: 0 3px 8px #0002

	.dataClient
		@include card()
		padding-bottom: 0.5rem
		margin-bottom: 1rem

		.labelFlag
			display: flex
			flex-direction: row
			flex: 1
			align-items: flex-start
			justify-content: space-between

		h2
			margin-bottom: 0.4rem

	.dataOrder

		.card
			@include card()
			margin-bottom: 1rem
			display: flex
			flex-direction: column

			.content
				display: flex
				flex-direction: row
				flex-wrap: wrap
				padding: 1rem
				border: 1px solid $gray-50
				margin-bottom: 1rem

				&:last-child
					margin-bottom: 0

				.item
					width: 40%

					&:nth-child(odd),
						width: 60%

					&:nth-child(1),
					&:nth-child(1)
						margin-bottom: 1rem
					
					p
						color: #0009

	.salesConditions

		.card
			@include card()
			margin-bottom: 1rem
			display: flex
			flex-direction: column

			.content
				padding: 1rem
				border: 1px solid $gray-50
				margin-bottom: 1rem

				h4.header
					width: 100%
					display: block
					margin-bottom: 1rem
					text-transform: uppercase
					font-weight: 600

				.thead
					display: flex
					flex-direction: row
					gap: 1rem

					h4
						width: 50%
						font-size: 0.8rem
						border: none
						color: #0009
				
				.tbody
					display: flex
					flex-direction: row
					gap: 1rem
					padding-top: 0.5rem

					p
						width: 50%
						font-weight: 600
			
			.off
				display: flex
				justify-content: space-between

			.notice
				padding: 0.8rem
				border: 1px solid $gray-50
				margin-top: 1rem

				p
					font-size: 0.75rem
					text-align: center

					svg
						margin-right: 6px
						margin-bottom: -1px

	.services,
	.vaccines
		@include card()
		position: relative

		.accordion
			margin-bottom: 2rem

			&:last-child
				margin-bottom: 0

			button
				width: 100%
				height: 3rem
				line-height: 3rem
				border: none
				color: $white
				display: flex
				align-items: center
				justify-content: space-between
				padding: 0 1rem
				background: $primary
				margin-bottom: 0.8rem
				font-size: 1rem
				cursor: pointer
				border-radius: 0.5rem
				
			.item

				input
					display: none

					&:checked + label
						@include labelCheckbox($white, $success)

						&::before
							width: 26px
							height: 26px
							content: url('../../public/check-circle.svg')
							margin-right: 6px
							line-height: 2.7rem

					&:checked + label + .options
						display: flex
						flex-direction: column
						border-radius: 0.5rem
						border: 1px solid $gray-50
						padding: 1rem
						margin-bottom: 2rem
						margin-top: -1rem

						.item

							&:not(:last-child)
								margin-bottom: 1rem

							p
								font-size: 0.8rem
								color: #0009


				label
					@include labelCheckbox($gray-300, $white)

					&::selection
						background: rgba(255,255,255,0)

					&::before
						width: 26px
						height: 26px
						content: url('../../public/x-circle.svg')
						margin-right: 6px
						line-height: 2.7rem

				.options
					position: relative
					display: none

	.billing,
	.delivery
		@include card()
		padding-bottom: 0.44rem

	.btnPrimary
		background: $primary
		color: $white
		display: block
		width: 100%
		margin: 1rem 0
		border: none
		border-radius: 0.5rem
		height: 42px
		text-transform: uppercase
		font-weight: bold

	.feet

		p
			padding: 0 0.5rem
			color: #0009
			font-size: 0.9rem
			text-align: center

		.feetContent
			width: 100%
			display: flex
			align-items: center
			justify-content: space-between

			.footLeft,
			.footRight
				width: 50%
				height: auto
				display: block

	.actions
		display: flex
		gap: 1rem